body{
    background-image: url(kkm.Jp);
    background-size: cover;
}
h1{
    color: blue;
    text-align: center;
    border: 2px inset;
    background-color: aqua;
    border-radius: 24px;
    border-color: red;
    border-width: 8px;
}
#ab{
    color: blueviolet;
    background-color: yellow;
}
.ab{
    color: red;
    margin: 50px;
}
.ac{
    color: blue;
    background-color: yellowgreen;
    border: 2px solid;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav{
    background-color: #333;
    padding: 10px 0;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0 10px;
}
.menu a {
text-decoration: none;
color: white;
font-size: 18px;
padding: 10px 15px;
display: block;
}
.menu a:hover{
    background-color: #555;
    border-radius: 5px;
}